* {
  text-align: right;
}

body {
  background-image: url(../images/backgroundimage.jpg);
  background-size: cover;
}

h2 + p {
  color: #d4766a;
  border: 5px solid rgb(255, 180, 170);
  text-align: center;
  cursor: pointer;
}
p {
  text-transform: uppercase;
  line-height: 20px;
  font-style: italic;
  font-weight: bold;
  font-size: 80%;
  font-family: 'Poiret One', cursive;
}
p {
  color: green;
}

img {
  float: left;
}

footer {
  clear: both;
  text-align: center;
}

li {
  color: white;
  list-style: none;
  display: inline-block;
}

.webtext:first-child {
  border: 5px dashed green;
}

.active {
  color: red;
}

#div1 {
  background: rgba(0, 0, 255, 0.2);
}

#div2 {
  background: rgba(255, 0, 0, 0.2);
}
