body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 3rem;
  color: #e2dbdb;
  /* text-transform: uppercase; */
}

hr {
  margin: 20px auto;
  color: #f05f44;
  border: 3px solid #f05f44;
  max-width: 65px;
  opacity: 1;
}

.btn {
  font-weight: 700;
  border-radius: 300px;
}

.btn-primary {
  background-color: #f05f44;
  border: #f05f44;
}

.btn-primary:hover {
  background-color: #ee4b08;
  /* border-color: #ee4b08; */
  border: 4px solid #ee4b08;
}

.btn-xl {
  padding: 1rem 2rem;
}

.buffer {
  height: 10rem;
}
